
<div class="new-item-container">
  <h2>Edit your furny info</h2>
    <form action="/catalog/<%= item._id %>" method="post"  enctype="multipart/form-data">
      <div>
        <label>Category</label><br>
        <select class="edit-item-form "name="category" id="category">
          <% types.forEach((category) => { %>
            <option type="text" value="<%= category %>"><%= category %></option>
          <%  }) %>
        </select>
      
    
       
        <input class="edit-item-form " placeholder="What are you selling?"type="text" name="title" required>
        <textarea class ="edit-item-form " placeholder="Describe your item in a catchy and wholesome way."name="description" required></textarea>
        <input class ="edit-item-form " placeholder="Set a fair price" type="number" name="price" required>
      <h3>Change photo of your furny!</h3>
        <input class ="edit-item-form " type="file" name="itemPic">
      
        <button class="btn" type="submit">Upload Product</button>
    </div>
    </form>
</div>