<nav>
    <div>
        <h3>Handy Furny</h3>
    </div>
    <div class="nav-li">
        <ul>
            <li><a href="/catalog">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li class="active"><a href="/catalog/new">New Product</a></li>
            <li><a href="/catalog/list">All Products</a> </li>
            <li><a href="/user/<%=user._id%>">Profile</a> </li>
        </ul>
    </div>
</nav>

<section class="new background">

    <div class="new-item-container">
        <h2>Post a new furny !!</h2>
            <form action="/catalog/new" method="post"  enctype="multipart/form-data">
              <div>
                <label>Category</label>
                <select class="new-item-select"name="category" id="category">
                  <% types.forEach((category) => { %>
                    <option type="text" value="<%= category %>"><%= category %></option>
                  <%  }) %>
                </select>
              </div>
              <div>
             
                <input class="new-item-form input-width" placeholder="What are you selling?"type="text" name="title" required>
              </div>
              <div>
               
                <textarea class="new-item-form input-width textarea" name="description" placeholder="Describe your item in a catchy and wholesome way." required></textarea>
              </div>
              <div>
               
                <input class="new-item-form input-width" placeholder="Set a fair price!"  type="number" name="price" required>
              </div>
              <h3>Upload a photo of your furny!</h3>
                <input class="new-item-form input-movil" type="file" name="itemPic">
              <div>
                <button class="new-item-form green input-width" type="submit">Upload Product</button>
              </div>
            </form>
      </div>






</section>

<footer>
    <p>Handy Furny © | 2018</p>
</footer><!-- /footer -->