<nav>
    <div>
        <h3>Handy Furny</h3>
    </div>
    <div class="nav-li">
        <ul>
            <li><a href="/catalog">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li class="active"><a href="/catalog/new">New Product</a></li>
            <li><a href="/catalog/list">All Products</a> </li>
            <li><a href="/user/<%=user._id%>">Profile</a> </li>
        </ul>
    </div>
</nav>
<div class="new-item-container">
  <h2>Post a new furny !!</h2>
      <form action="/catalog/new" method="post"  enctype="multipart/form-data">
        <div>
          <label>Category</label><br>
          <select name="category" id="category">
            <% types.forEach((category) => { %>
              <option type="text" value="<%= category %>"><%= category %></option>
            <%  }) %>
          </select>
        </div>
        <div>
          <label>Title</label>
          <input type="text" name="title" required>
        </div>
        <div>
          <label>Description</label>
          <textarea name="description" required></textarea>
        </div>
        <div>
          <label>Price</label>
          <input type="number" name="price" required>
        </div>
        <h3>Upload a photo of your furny!</h3>
          <input type="file" name="itemPic">
        <div>
          <button type="submit">Upload Product</button>
        </div>
      </form>
</div>
<footer>
    <p>Handy Furny © | 2018</p>
</footer><!-- /footer -->