<nav>
    <div>
        <h3>Handy Furny</h3>
    </div>
    <div>
        <ul class="nav">
        <li><a href="/" >Home</a></li>
        <li><a href="/about">About Us</a></li>
        </ul>
    </div>
</nav>
<header>
    <div class="container-header-about">
        <h1>About Us</h1>
        <p><strong>Handy Furny</strong> es una startup creada para ayudar a los usuarios a vender y comprar muebles de una manera facil, comoda y segura.
        </p>
    </div>
</header>
<!-- footer -->
<footer>
    <p>Handy Furny © | 2018</p>
</footer><!-- /footer -->