<nav>
    <div>
        <h3>Handy Furny</h3>
    </div>
    <div>
        <ul class="nav">
        <li><a href="/" >Home</a></li>
        <li class="active"><a href="/about">About Us</a></li>
        </ul>
    </div>
</nav>
<header>
    <div class="container-header-about">
        <h1>About Us</h1>
        <p><strong>Handy Furny</strong> Startup created to help users to buy and sell furniture in an easy, convenient and safe way.
        </p>
    </div>
</header>
<!-- footer -->
<footer>
    <p>Handy Furny © | 2018</p>
</footer><!-- /footer -->