<nav>
    <div>
        <h3>Handy Furny</h3>
    </div>
    <div>
        <i class="fas fa-align-justify"></i>
    </div>
    <div class="nav-li">
        <ul class="nav">
        <li class="active"><a href="#" >Home</a></li>
        <li><a href="/about">About Us</a></li>
        </ul>
    </div>
</nav>
<header>
    <div class="container-header">
        <div class="background-header">
            <h1>Handy Furny</h1>
            <P>Second hand furniture</P><br>
            <a class="btn-index btn-facebook" href="/auth/facebook">Log In with Facebook</a><br>
            <a class="btn-index" href="/login">Log In</a><br>
            <a class="btn-index" href="/signup">Sign Up</a><br>
        </div>
        <div class="backgorund-pics">
            <div>
                <img src="/images/s1.jpg" alt="furniture-image">
                <img src="/images/m1.jpg" alt="furniture-image">
            </div>
            <div>
                <img src="/images/m5.jpg" alt="furniture-image">
                <img src="/images/s2.jpg" alt="furniture-image">
            </div>
            <div>
                <img src="/images/s3.jpg" alt="furniture-image">
                <img src="/images/m2.jpg" alt="furniture-image">
            </div>
            <div>
                <img src="/images/s4.jpg" alt="furniture-image">
                <img src="/images/m4.jpg" alt="furniture-image">
            </div>
        </div>
    </div>
</header>
<footer>
    <p>Handy Furny © | 2018</p>
</footer>



