<header>
    <div class="container-header">
        <div class="background-header">
            <h1>Handy Furniture</h1>
            <P>Second hand furniture</P><br>
            <a class="btn btn-facebook" href="/auth/facebook">Log In with Facebook</a><br>
            <a class="btn" href="/login">Log In</a><br>
            <a class="btn" href="/signup">Sign Up</a><br>
        </div>
        <div class="backgorund-pics">
            <div>
                <img src="/stylesheets/images/s1.jpg" alt="furniture-image">
                <img src="/stylesheets/images/m1.jpg" alt="furniture-image">
            </div>
            <div>
                <img src="/stylesheets/images/m5.jpg" alt="furniture-image">
                <img src="/stylesheets/images/s2.jpg" alt="furniture-image">
            </div>
            <div>
                <img src="/stylesheets/images/s3.jpg" alt="furniture-image">
                <img src="/stylesheets/images/m2.jpg" alt="furniture-image">
            </div>
            <div>
                <img src="/stylesheets/images/s4.jpg" alt="furniture-image">
                <img src="/stylesheets/images/m4.jpg" alt="furniture-image">
            </div>
        </div>
    </div>
</header>




