<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
<<<<<<< HEAD
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
=======
    
>>>>>>> f5626e19a757ee150ab461ab6adcaa410c4b9eba
  </head>
  <body>
    <%- body %>
<<<<<<< HEAD
   
=======
    <footer>
      <p>Handy furniture © | 2018</p>
    </footer>

>>>>>>> f5626e19a757ee150ab461ab6adcaa410c4b9eba
  </body>
</html>

