<!-- Render link to my profile 
link to catalog_list
link to item/new
and search bar with autocomplete 

y carrusel yeeeei :) -->
<h1>catalogo</h1>
<a href="/logout">Log Out</a>
<a href="/catalog/new">New Item</a>
<a href="/user/<%=user._id%>">New Item</a> 