<nav>
    <div>
        <h3>Handy Furniture</h3>
    </div>
    <div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/catalog/new">New Item</a></li>
            <li><a href="/user/<%=user._id%>">user</a> </li>
        </ul>
    </div>
</nav>
<div class="catalog-map">
    <section>
        <div>
            <h1>Discover the people who are selling furniture</h1>
        </div>
        <div class="nav-map">
            <form action="" method="post">
                
                <input id="search-box" type="text" name="where" value="Search by zone">
            </form>
        </div>
    </section>
    <section>
        <div id="map"></div>
    </section>
</div>
<script type="text/javascript">
    var items = <%- JSON.stringify(items) %>;
</script>

<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB141u84aG6yCZFhfNsd4CWj7lKdHmj8-k&libraries=places">
</script>

<script type="text/javascript" src="javascripts/map/autocomplete.js"></script>
<script type="text/javascript" src="javascripts/map/marks-items.js"></script>
<script type="text/javascript" 
src="javascripts/map/map.js"></script>


