<!-- Edit Form -->
<nav>
    <div>
        <h3>Handy Furny</h3>
    </div>
    <div class="nav-icon">
      <i class="fas fa-align-justify"></i>
    </div>
    <div class="nav-li">
        <ul>
            <li><a href="/catalog">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li class="active"><a href="/catalog/new">New Product</a></li>
            <li><a href="/catalog/list">All Products</a> </li>
         
        </ul>
    </div>
</nav>
<section class="new background">
    <div class="new-item-container">
        <h2>Edit your profile info</h2>

        <div class="edit-profile-container">

            <form class="edit-profile-container"action="/user/<%= user._id %>" method="post" enctype="multipart/form-data"> 
              <input placeholder="Username "class="new-item-form input-width" type="text" name="username" value="<%= user.username %>">
         
            <br>
            
              <input placeholder="Your email" class="new-item-form input-width" type="mail" name="email" value="<%= user.email %>">
           
            <br>
            
              <input placeholder="Your password"class="new-item-form input-width" type="password" name="password">
            <br>

          
              <input  class="new-item-form input-width"id="search-box-user" type="text" name="where" placeholder="Search your location">
              <input class="new-item-form input-width"id="search-box-user-lat" type="hidden" name="latitud" readonly>
              <input class="new-item-form input-width"id="search-box-user-lng" type="hidden" name="longitud" readonly>
              <br>
              <div>
                  <h3>Change your profile pic!</h3> <br>
                  <img class="user-profile-pic-edit"src="<%=user.profilePic%>" alt="old pic">
                    <input class="new-item-form" type="file" name="userPic" value="/images/profile.jpg" required>

              </div>
          
           
              <button class="new-item-form green input-width"type="submit">Change Profile</button>
           
          </form>






        </div>
          
      </div>






</section>
<footer>
    <p>Handy Furny © | 2018</p>
</footer><!-- /footer -->

<script
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB141u84aG6yCZFhfNsd4CWj7lKdHmj8-k&libraries=places">
</script>

<script type="text/javascript" src="/javascripts/user/autocomple.js"></script>