@import url('https://fonts.googleapis.com/css?family=Roboto');

.layout-main{
  /*background-image: url("/images/whitewoddBACK.jpg");*/
    /*background-color:#c0ded9;*/
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 5; font-size: 13px; line-height: 18px; color: white; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: 0.5;
   -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: black; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }


.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { backround-color: color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.login-input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.login-input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #4A4A4A;
}

nav{
  width: 100vw;
  box-sizing: border-box;
  height: 7vh;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center; /*baseline*/
  justify-content: space-around;
}

nav div:nth-child(2) ul {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
}

nav div:nth-child(2) ul li {
  margin: 20px;
  list-style:none;
}

nav div:nth-child(2) ul li a {
text-decoration-line: none;
color: #4A4A4A;
}

.container-header-about {
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  padding: 40px;
  background: url(../images/about.jpeg) no-repeat center center;
  background-size: cover;
}
.container-header-about p {
  width: 40vw;
}
.background-header {
  position: absolute;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  color: white;
}
h1 {
  margin: 0;
}

.active {
  border-bottom: #4A4A4A solid 2px;
  font-weight: bold;
}

.btn-index {
  border: white solid 2px;
  border-radius: 25px;
  width: 200px;
  color: black;
  text-decoration-line: none;
  text-align: center;
  padding: 15px;
}
.btn:hover {
  background-color: rgba(0,0,0,.4);
}


.btn-facebook {
  background-color: #48649E;
}

.btn-facebook:hover {
  background-color: #344b77;
}
.container-header{
  position: relative;
  display: block;
}

.backgorund-pics {

  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: center;
  overflow: hidden;
}
.backgorund-pics div {
  min-width: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.backgorund-pics div img {
  width: 280px;
  max-height: 100%;
  margin: 10px;
}

footer{
  width: 100vw;
}
footer p{
  text-align: center;
  padding: 20px;
}
.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: center; 
  box-sizing: border-box;
}
.catalog section:nth-child(1){
  width: 50vw;
  height: 500px;
  border: #EDEFF1 solid 2px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;

}

.catalog section:nth-child(2) {
  width: 30vw;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  border: #EDEFF1 solid 2px;
  box-sizing: border-box;
  overflow: scroll;
}

/* map */
#map {
  height: 300px;
  width: 35vw;
  
 }

 .nav-map{
   width: 700px;
   text-align: center;
   margin-bottom: 20px;
   /* border-radius: 25px; */
 }

 .nav-map form {
   
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
 }

 .nav-map div, select, input, button {
   height: 25px;
 }

 .nav-map form input {
   width: 300px;
   margin-top: 20px; 
 }

.item-chat-container{
  margin-right: 30px;
   display:flex;
   justify-content: flex-start;
   border:3px solid ghostwhite;
}

.chat{
  background-color:lightgray;
}

 .item-img-chat{
   width: 100px;
 }

 

 .new-items-card {
  width: 250px;
  border: #EDEFF1 solid 2px;

  /* .chat-form{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 3px solid darkgreen;
  } */

 .catalog section:nth-child(2) {
  width: 220px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
 }
 .item-image-box {
   width: 100px;
 }
 .item-info-box {
  width: 150px;
 }

 .item-image{
  width: 100px;
}
.creator-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-profile-pic{
  width: 50px;
  height: 50px;
  border: #EDEFF1 solid 2px;
  border-radius: 50%;
}

.new-items-card a, p{
  display: block;
  text-align: center;
  margin: 5px;
}

.search-furny{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap:wrap;
  justify-content: center;
}
.search-furny h2 {
  width: 100vw;
  text-align: center;
}

.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin:10px;
}

.item-container{
  width:20%;
  display:flex;
  margin:10px;
  flex-direction: row;
  justify-content:center;
  align-content: center;
  border: #EDEFF1 2px solid;
  border-radius: 20%;
  box-sizing: border-box;
}


