@import url('https://fonts.googleapis.com/css?family=Roboto');

<<<<<<< HEAD
.layout-main{
  /*background-image: url("/images/whitewoddBACK.jpg");*/
    /*background-color:#c0ded9;*/
}
=======
>>>>>>> 6b972bdb9c21f800acf95d95b9c79e2c0e367b8d

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #4A4A4A;
}

nav{
  width: 100vw;
  box-sizing: border-box;
  height: 7vh;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center; /*baseline*/
  justify-content: space-around;
}

nav div:nth-child(2) ul {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
}

nav div:nth-child(2) ul li {
  margin: 20px;
  list-style:none;
}

nav div:nth-child(2) ul li a {
text-decoration-line: none;
color: #4A4A4A;
}

.container-header-about {
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  padding: 40px;
  background: url(../images/about.jpeg) no-repeat center center;
  background-size: cover;
}
.container-header-about p {
  width: 40vw;
}
.background-header {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  color: white;
}

.background-header form input {
  border: white solid 2px;
  border-radius: 25px;
  width: 300px;
  text-align: center;
  height: 30px;
  display: block;
  margin: 20px;
}

h1 {
  margin: 0;
}

.active {
  border-bottom: #4A4A4A solid 2px;
  font-weight: bold;
}

.btn-index {
  border: white solid 2px;
  border-radius: 25px;
  width: 200px;
  color: white;
  text-decoration-line: none;
  text-align: center;
  padding: 15px;
}
.btn-index:hover {
  background-color: rgba(0,0,0,.5);
}
.btn {
  border: white solid 2px;
  border-radius: 25px;
  width: 200px;
  color: white;
  text-decoration-line: none;
  text-align: center;
  font-size: 18px;
  height: 40px;
  background-color: #57BEAC;
}


/* .input-data {
  border: white solid 2px;
  border-radius: 25px;
  width: 300px;
} */

.btn-facebook {
  background-color: #48649E;
}

.btn-facebook:hover {
  background-color: #344b77;
}
.container-header{
  position: relative;
  display: block;
}

.backgorund-pics {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: center;
  overflow: hidden;
}
.backgorund-pics div {
  min-width: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.backgorund-pics div img {
  width: 280px;
  max-height: 100%;
  margin: 10px;
}

footer{
  width: 100vw;
}
footer p{
  text-align: center;

}
.catalog {
  width: 100vw;
  background: #57BEAC;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
}
.catalog section:nth-child(1){
  width: 65vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  
}
.container{
  min-height: 100vw;
}
.catalog section:nth-child(2) {
  width: 30vw;
  background: #F4F5F7;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: center;
  border: #EDEFF1 solid 2px;
  box-sizing: border-box;
  overflow: scroll;
}
.catalog section:nth-child(2) h2{
  width: 30vw;
  text-align: center;
}

/* map */
#map {
  height: 300px;
  width: 35vw;
  
 }

 .nav-map{
   width: 700px;
   text-align: center;
   margin-bottom: 20px;
   /* border-radius: 25px; */
 }

 .nav-map form {
   
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
 }

 .nav-map div, select, input, button {
   height: 25px;
 }

 .nav-map form input {
   width: 300px;
   margin-top: 20px; 
 }

.item-chat-container{
  margin-right: 30px;
   display:flex;
   justify-content: flex-start;
   border:3px solid ghostwhite;
}

.chat{
  background-color:lightgray;
}

 .item-img-chat{
   width: 100px;
 }

 /* login */
 .container-signup{
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  padding: 40px;
  background: url(../images/about.jpeg) no-repeat center center;
  background-size: cover;
 }
 .container-login{
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  padding: 40px;
  background: url(../images/about.jpeg) no-repeat center center;
  background-size: cover;
 }

 

 .new-items-card {
  width: 260px;
  border: #EDEFF1 solid 2px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
 
 }
  /* .chat-form{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 3px solid darkgreen;
  } */

 .item-image-box {
   width: 100px;

 }
 .item-info-box {
  width: 150px;

 }

 .item-image{
  width: 100px;
}
.item-user-info{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.user-profile-pic{
  width: 30px;
  height: 30px;
  border: #EDEFF1 solid 2px;
  border-radius: 50%;
}


.new-items-card a, p{
  display: block;
  text-align: center;
  margin: 5px;
}

.search-furny{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap:wrap;
  justify-content: center;
}
.search-furny h2 {
  width: 100vw;
  text-align: center;
}

.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin:10px;
}

.item-container{
  width:20%;
  display:flex;
  margin:10px;
  flex-direction: row;
  justify-content:center;
  align-content: center;
  border: #EDEFF1 2px solid;
  border-radius: 20%;
  box-sizing: border-box;
}

/* search-furny */

.furny-info {
  width: 300px;
  
}
