@import url('https://fonts.googleapis.com/css?family=Roboto');

a {
  color: rgb(132, 236, 219);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #4A4A4A;

}

nav{
  width: 100vw;
  box-sizing: border-box;
  height: 7vh;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center; /*baseline*/
  justify-content: space-between;
}

nav .nav-li ul {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
}

nav .nav-li ul li {
  margin: 20px;
  list-style:none;
}

nav .nav-li ul li a {
text-decoration-line: none;
color: #4A4A4A;
}

.container-header-about {
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  padding: 40px;
  background: url(../images/about.jpeg) no-repeat center center;
  background-size: cover;
}
.container-header-about p {
  width: 40vw;
}
.background-header {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  color: white;
}

.background-header form input {
  border: white solid 2px;
  border-radius: 25px;
  width: 300px;
  text-align: center;
  height: 30px;
  display: block;
  margin: 20px;
}

h1 {
  margin: 0;
}

nav h3{
  margin-left:10px;
  font-size:1.8rem;
}

.active {
  border-bottom: #4A4A4A solid 2px;
  font-weight: bold;
}

.btn-index {
  border: white solid 2px;
  border-radius: 25px;
  width: 200px;
  color: white;
  text-decoration-line: none;
  text-align: center;
  padding: 15px;
}
.btn-index:hover {
  background-color: rgba(0,0,0,.5);
}
.btn {
  border: white solid 2px;
  border-radius: 25px;
  width: 200px;
  color: white;
  text-decoration-line: none;
  text-align: center;
  font-size: 18px;
  height: 40px;
  background-color: rgb(132, 236, 219);
}


/* .input-data {
  border: white solid 2px;
  border-radius: 25px;
  width: 300px;
} */

.btn-facebook {
  background-color: #48649E;
}

.btn-facebook:hover {
  background-color: #344b77;
}
.container-header{
  position: relative;
  display: block;
}

.backgorund-pics {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: center;
  overflow: hidden;
}
.backgorund-pics div {
  min-width: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.backgorund-pics div img {
  width: 280px;
  max-height: 100%;
  margin: 10px;
}

footer{
  width: 100vw;
}
footer p{
  text-align: center;

}
.catalog {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
}
.catalog section:nth-child(1){
  width: 68vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  background: rgb(132, 236, 219);
}
.catalog section:nth-child(1) h1 {
  color: white;
}

.container{
  min-height: 100vw;
}
.catalog section:nth-child(2) {
  width: 20vw;
  background: #F4F5F7;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: center;
  border: #EDEFF1 solid 2px;
  box-sizing: border-box;
  overflow: scroll;
}
.catalog section:nth-child(2) h2{
  width: 30vw;
  text-align: center;
}

/* map */
#map {
  height: 300px;
  width: 60vw;
  
 }
 #map-dir {
  height: 70px;
  width: 200px;
  
 }


 .nav-map{
   width: 500px;
   text-align: center;
   margin-bottom: 20px;
   /* border-radius: 25px; */
 }

 .nav-map form {
   
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* //justify-content: center; */
 }

 .nav-map div, select, input, button {
   height: 25px;
 }

 .nav-map form input {
   width: 300px;
   margin-top: 20px;
  
 }



  /*IMAGEN*/

  .item-chat-container{
    background-color: white;
    width:200px;
    margin-right: 30px;
    display:flex;
    justify-content: flex-start;
    border:3px solid ghostwhite;
  }
  
  .chat{
    background-color:rgb(132, 236, 219);
    width:100%;
    
    justify-content: center;
  }
  
   .item-img-chat{
     width: 100px;
   }
  
    .form-chat { background:rgb(132, 236, 219); 
      margin: 0; 
       box-sizing: border-box;
      padding: 3px; 
      position: fixed;
       bottom: 0;
        width: 80%; }

    .form-chat-input { 
      margin: 0; 
      box-sizing: border-box;
      border-radius: 20%;
      border:1p rgb(132, 236, 219) dotted ; 
      padding: 10px; 
      width: 90%; 
      margin-right: .5%;
      float: left;
     }
    .form-chat-button { 
      margin: 0; 
      box-sizing: border-box;
      width: 9%;
       background: rgb(132, 236, 219);
      border: none;
       padding: 10px; }
    #messages { 
      margin-right:40px; 
      box-sizing: border-box;
      list-style-type: none;
       margin: 0; 
       padding: 0; }
    #messages li { 
      margin: 0; 
      width:90%;
      box-sizing: border-box;
      padding: 5px 10px;
     }
    #messages li:nth-child(odd) {
      margin: 0; 
      box-sizing: border-box;
       background: #eee; }


/*+++++  +++++++*/

 /* login */
 .container-signup{
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  padding: 40px;
  background: url(../images/about.jpeg) no-repeat center center;
  background-size: cover;
 }
 .container-login{
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  padding: 40px;
  background: url(../images/about.jpeg) no-repeat center center;
  background-size: cover;
 }

 

 .new-items-card {
  width: 265px;
  border: #EDEFF1 solid 2px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  padding: 5px;
  background-color: white;
 }
 .title{
  font-size: 20px;
 }
  /* .chat-form{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 3px solid darkgreen;
  } */

 .item-image-box {
   width: 100px;

 }
 .item-info-box {
  width: 150px;

 }

 .item-image{
  width: 100px;
}
.item-user-info{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.user-profile-pic{
  width: 30px;
  height: 30px;
  border: #EDEFF1 solid 2px;
  border-radius: 50%;
}


.new-items-card a, p{
  display: block;
  text-align: center;
  margin: 5px;
}

.search-furny{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap:wrap;
  justify-content: center;
}
.search-furny h2 {
  width: 100vw;
  margin: 5vw;
}

.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin:10px;
}

/* search-furny */
#result-search-furny{
  display:flex;
  margin: 20px;
  flex-direction: row;
  justify-content:center;
  flex-wrap:wrap;
  align-content: center;
  box-sizing: border-box;

}

.furny-info {
  width: 250px;
  border:   rgb(132, 236, 219) 2px solid;
  margin:10px;
  text-align: center;
  background-color: #EDEFF1;
  min-height:350px;
}

.resize {
  width: 250px;
}
.container{
  text-align: center;
  width: 100vw;
  min-height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  box-sizing: border-box;
  
}

.list-products, .buy-sell-mylist{
  text-align: center;
  width: 100vw;
  /* min-height: 85vh; */
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px;
  
}


.buy-sell-mylist h3, .reviews-list h3 {
  width: 100vw;
  border-bottom: #EDEFF1 solid 2px;
}

.user-pic-xl {
  width: 200px;
  height: 200px;
  border: #EDEFF1 solid 2px;
  border-radius: 25px;
}

.profile-info {
  margin-top:20px;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

.btn-delete {
  border: white solid 2px;
  border-radius: 25px;
  width: 40px;
  color: white;
  text-decoration-line: none;
  text-align: center;
  font-size: 18px;
  height: 40px;
  background-color: #F56776;
}

.btn-search {
  border: white solid 2px;
  border-radius: 25px;
  width: 100px;
  color: white;
  text-decoration-line: none;
  text-align: center;
  font-size: 14px;
  height: 40px;
  background-color: rgb(132,236,219);
}


.new-item-form{
  border: white solid 2px;
  border-radius: 25px;
  color:black;
  text-decoration-line: none;
  text-align: center;
  font-size: 14px;
  height: 40px;
  margin:5px;
}

.input-width{
  width: 300px;
}

.textarea{
  height: 90px;
}
.price{
  width:100px;
}

.background{
  background-image: url("/images/backgroundwood.jpg");
}


.new-item-container{
  background-color:  rgb(132, 236, 219) ;
  color:white ;
  min-height:400px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:50px;
  border:white 2px solid;
  border-radius: 10%;
}

.review{
  background-color:  rgb(132, 236, 219) ;
  color:white;
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border:white 2px solid;
  border-radius: 10%;
  margin:50px auto;
}

.new-item-select{
  border: white solid 2px;
  border-radius: 25px;
  width: 230px;
  color:black;
  padding-left:50px;
  text-decoration-line: none;
  text-align: center;
  font-size: 14px;
  height: 40px;
  margin:5px;
}
.btn-new{
  margin-bottom:20px;
  border: white solid 2px;
  border-radius: 25px;
  width: 300px;
  color: white;
  text-decoration-line: none;
  text-align: center;
  font-size: 18px;
  height: 40px;
  background-color:  rgb(132, 236, 219);
}

.new{
  background-color:  rgb(132, 236, 219)C;
  margin:0;
  padding:0;
  height:85vh;
  display:flex;
  justify-content: center;
}

.green{
  color:rgb(132,236,219);
}

.img-and-price{
 display:flex;
 flex-direction: row;
 align-items: center;
}
.user-profile-pic-edit{
  width: 40px;
  height: 40px;
  border: #EDEFF1 solid 2px;
  border-radius: 20%;
}
.your-search {
  width: 90vw;
  margin: 0 20px;
}

.background-color{
  background-color:rgb(132, 236, 219);

}

.edit-profile-container{
  background-color:white;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  border-radius: 15%;
  padding:20px;
  margin:10px auto;
}
.container-catalog{
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  justify-content: center;
  box-sizing: border-box;
  background: url(../images/background-wood.jpg) no-repeat center center;
  background-size: cover;
 }


 .main-title{
   text-align: left;
   font-size: 5ev;
 }

 .single-view{
  height: 85vh;
 }

 .center-text{
   text-align: center;  
 }

 .furny-info-single {
  width: 400px;
  border:   rgb(132, 236, 219) 2px solid;
  margin:10px;
  text-align: center;
  background-color: #EDEFF1;
  min-height:350px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.furny-info-single img{
  
}

.profile-board{
  width:100%;
  height: 60%;;
}

#chat-furny{
  width: 100px;
  border:   rgb(132, 236, 219) 2px solid;
  margin:10px;
  text-align: center;
  background-color: #EDEFF1;
  min-height:100px;
  float:right;
  font-size: 0.8ex;
}

#black{
  color:black;
}